{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <section class="container page-header">
            <div ng-bind="pageTitle"></div>
        </section>
        <section data-ng-view class="container">

        </section>
        <section class="smack-in-the-middle loading" ng-if="isLoading">Loading...</section>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bower_components/angular/angular.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/angular-route/angular-route.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/angular-animate/angular-animate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/angular-bootstrap/ui-bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/angular-app/app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/angular-app/common/config/routes.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/angular-app/common/services/HttpResponseInterceptor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/angular-app/common/services/SharedService.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/angular-app/common/controllers/MainController.js') }}"></script>
    <!-- App specific controllers -->
    <script type="text/javascript" src="{{ asset('js/angular-app/users/controllers/UserController.js') }}"></script>
{% endblock%}
