<div class="container" ng-if="showPost == false && showPostDetail == false">
    <div class="row table-header">
        <div class="col-md-offset-1 col-md-2">Name</div>
        <div class="col-md-2">Email</div>
        <div class="col-md-2">Phone</div>
        <div class="col-md-2">Website</div>
        <div class="col-md-2">Company</div>
    </div>
    <div class="row" ng-repeat="user in users" ng-class-odd="'odd-row'" ng-class-even="'even-row'">
        <div class="col-md-offset-1 col-md-2 txt-wrap" ng-click="showPosts(user)">{{ user.name }}</div>
        <div class="col-md-2 txt-wrap">{{ user.email }}</div>
        <div class="col-md-2 txt-wrap">{{ user.phone }}</div>
        <div class="col-md-2 txt-wrap">{{ user.website }}</div>
        <div class="col-md-2 txt-wrap">{{ user.company.name }}</div>
    </div>
</div>
<div ng-include="'js/angular-app/users/partials/userPost.html'"></div>
<div ng-include="'js/angular-app/users/partials/postDetail.html'"></div>
