<div class="container" ng-if="showPostDetail == true">
    <h1 class="post-title" ng-bind="post.title"></h1>
    <h5><strong>{{ user.name }}</strong></h5>
    <article>{{ post.body }}</article>
    <section class="comments-section">
        <strong>Comments</strong>
        <div class="commentBox" ng-repeat="comment in comments">
            <div class="row">
                <div class="userInfo col-md-6">{{ comment.name }}</div>
                <div class="text-right userInfo"><a href="mailto:{{ comment.email }}">{{ comment.email }}</a></div>
            </div>
            <div class="comment-body">{{ comment.body }}</div>
        </div>
    </section>
</div>
