<div class="container" ng-if="showPost == true && showPostDetail == false">
    <div class="row table-header">
        <div class="col-md-4">Author</div>
        <div class="col-md-4">Title</div>
    </div>
    <div class="row" ng-repeat="post in posts" ng-class-odd="'odd-row'" ng-class-even="'even-row'">
        <div class="col-md-4" ng-click="showUser()"> {{ user.name }} </div>
        <div class="col-md-4 txt-wrap" ng-click="showPostDetails(post)">{{ post.title }}</div>
    </div>
</div>
