body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
h1 { font-size: 36px; }
h2 { font-size: 21px; margin-bottom: 1em; }
p { margin: 0 0 1em 0; }
a { color: #0000F0; }
a:hover { text-decoration: none; }

.smack-in-the-middle {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
}
.loading {
    background: url('../images/loading.gif') transparent;
}
.txt-wrap {
    word-wrap: break-word;
}
.table-header {
    background-color: #5cb85c;
    color: #ac2925;
    padding: 10px;
}
.odd-row {
    background-color: #cecece;
    color: #ffffff;
}
.even-row {
    background-color: #ffffff;
}
.post-title {
    color: #5cb85c;
}
article {
    font-family: "Droid Serif";
    font-size: 1em;
    color: #761c19;
}
.commentBox {
    border: 1px #999999 solid;
    padding: 15px;
    margin-bottom: 10px;
}
.comments-section {
    padding-top: 40px;
}
.userInfo {
    border-bottom: 1px #999999 solid;
    padding: 0px 9px 10px 10px;
}
.comment-body {
    padding: 15px;
}
